{% extends 'base.html' %}

{% block content %}
  <script crossorigin src="https://unpkg.com/@daily-co/daily-js"></script>
  <div id="start" class="row justify-content-center mt-5">
  <button  class=" mt-5 btn btn-primary btn-lg" onclick="run()">Start</button>
  </div>
  <script>
      function showEvent(e) {
          console.log("video call event -->", e);
      }

      async function run() {
          $(start).css('display' , 'none')
          room = {url: 'https://coetus.daily.co/hello'}
          callFrame = window.DailyIframe.createFrame({
              iframeStyle: {
                  position: 'fixed',
                  width: '50%',
                  height: '100%'
              }
          });
          callFrame.join({url: 'https://your-team.daily.co/hello'});
          await callFrame.join({url: room.url});


      }
    /*
      callFrame = window.DailyIframe.createFrame(
          {
              showLeaveButton: true,
              iframeStyle: {
                  position: 'fixed',
                  width: '50%',
                  height: '100%'
              }
          }
      );
      callFrame.join({url: 'https://coetus.daily.co/hello'})
  */
</script>
{% endblock %}
