{% extends 'base.html' %}

{% block content %}
<div class="container">
 {% for file in files %}
  <a href="{{ file.content.url }}">{{ file.content.name }}</a>
  {% endfor %}
<div class="row justify-content-center mt-5">
  <h1 class="text-center mt-5"><strong>Meeting 📚 </strong></h1>
<h1 class="text-center  "> organizing tool for study groups to create study rooms with whiteboards and video calls.. </h1>
<a href="{% url 'demo' %}"><button class="btn btn-primary btn-lg mt-3 ">DEMO</button></a>
</div>

<div class="row justify-content-center mt-5 pt-5">

  <h4>by <a href="https://github.com/abdullahMosibah">Abdullah Mosibah</a> and Abdulrahman Khalid and Salman Khalid  </h4>
  <h4> <strong>This project is open sourced </strong><a href="https://github.com/abdullahMosibah/Meeting">Github repo</a> </h4>
</div>
</div>


{% endblock %}
